.r-block {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 52px;
    left: 0;
    width: 28px;
    height: 4px;
    background: $red-100;
    z-index: 2;
  }

  &.price-item {
    &::before {
      top: 46px;
    }
  }
}

.more-link {
  display: inline-block;
  position: relative;
  margin: 0;
  font-weight: 600;

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    left: calc(100% + 16px);
    width: 24px;
    height: 12px;
    background: icon('link-arrow.svg') no-repeat 50%;
  }
}

.all-link {
  display: inline-block;
  position: relative;
  font-weight: 600;

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
    width: 24px;
    height: 10px;
    background: icon('link-arrow.svg') no-repeat 50%;
  }
}

.instagram-link {
  position: relative;
  padding-left: 40px;

  &__wrapper {
    @include flex(row, center, flex-end);
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 28px;
    height: 28px;
    margin-top: -14px;
    // margin-left: -14px;
    background: icon('instagram.svg') no-repeat 50%;
  }

  &:hover {
    opacity: .85;

    &::before {
      opacity: .85;
    }
  }
}