.advantages {
  // background: image('advantages-bg.jpg') no-repeat 50%;
  background: linear-gradient(45deg, $dark-100, $dark-blue);
  // background-size: 100% 100%;
  padding: 50px 0;
  padding-bottom: 45px;
  color: $gray-300;

  &__title {
    color: $white;
    margin-bottom: 25px;
  }

  &__note {
    margin: 0;
    margin-bottom: 40px;
    font-size: 1.8rem;
  }

  &__item {
    @include flex(column);
    // min-height: 172px;
    &-icon {
      max-height: 65px;
      margin-bottom: 20px;
    }

    &-note {
      margin: 0;
      margin-top: auto;
      font-weight: 600;
      line-height: 1.62;
    }
  }

  &__items-wrapper {
    // flex-wrap: nowrap;
    // overflow: hidden;
  }

  &__pagination {
    @include flex(row, flex-start, center);
    margin-top: 20px;

    &-item {
      border-radius: 30px;
      width: 8px;
      height: 8px;
      box-sizing: border-box;
      border: 1px solid $white;
      margin-right: 15px;

      &_long {
        width: 36px;
        background: $white;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 1229px) {
  .advantages {
    padding-bottom: 10px;
    &__col {
      margin-bottom: 35px;
    }
    &__item {
      &-note {
        // max-width: 300px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .advantages {
    &__title {
      margin-bottom: 15px;
    }

    &__note {
      font-size: 1.3rem;
      line-height: 1.54;
      margin-bottom: 21px;
    }

    &__item {
      &-icon {
        max-height: 50px;
      }
      &-note {
        font-size: 1.3rem;
        line-height: 1.54;
      }
    }
  }
}