.btn {
  border-radius: 36px;
  border: 2px solid $red-100;
  color: $dark-blue;
  padding: .89em 3.11em;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.25;
  box-sizing: border-box;
  letter-spacing: .05em;
  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
  &:hover {
    background: $red-100;
    color: $white;
  }
  &:active {
    background: darken($red-100, 10%);
  }
  &-submit {
    padding: 1.28em 3.11em;
    background: $red-100;
    color: $white;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    &:hover {
      background: darken($red-100, 5%);
    }
    &:active {
      background: darken($red-100, 10%);
    }
  }
  &-arrow {
    padding-right: 4em;
    padding-left: 1.77em;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 26px;
      height: 14px;
      top: calc(50% - 7px);
      right: 31px;
      background: icon('link-arrow.svg') no-repeat center;
    }
    &:hover::after {
      background: icon('link-arrow-white.svg') no-repeat center;
    }
  }
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 1.3rem;
    padding: 1.3em 3.3em;
  }
}