.development-main {
  background:
    linear-gradient(-30deg, rgba($dark-100, .55) 0%, rgba($dark-blue, .55) 100%),
    image('development-bg.jpg') no-repeat 50% 0;
  background-size: cover;
  padding: 75px 0;
  padding-bottom: 70px;

  &__title {
    color: $white;
    margin-bottom: 43px;
  }

  &__list {
    margin-bottom: 62px;
  }

  &__item {
    position: relative;
    color: $white;
    font-size: 2.2rem;
    line-height: 1.8;
    font-weight: 600;
    padding-left: 42px;
    margin: 0;

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 26px;
      height: 20px;
      background: icon('big-swush.svg') no-repeat 50%;
    }

    &-text {
      margin: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .development-main {
    &__item {
      margin-bottom: 22px;

      &_last {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .development-main {
    // background:
    //   linear-gradient(rgba($dark-100, .75) 0%, rgba($dark-100, .75) 100%),
    //   image('m-home-main-bg.jpg') no-repeat 50%/cover;
    padding: 35px 0;
    padding-bottom: 40px;

    &__title {
      margin-bottom: 17px;
    }

    &__list {
      margin-bottom: 28px;
    }

    &__item {
      font-size: 1.4rem;
      line-height: 1.36;
      font-weight: 500;
      padding-left: 29px;
      max-width: 200px;
      box-sizing: content-box;

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 18px;
        height: 18px;
        background: icon('swush.svg') no-repeat 50%;
      }

      &-text {
        margin-bottom: 22px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}