.form {
    &__row {
        &:not(:last-child) {
            margin-bottom: 45px;
        }
    }
    &__label {
        display: block;
        font-size: 1.8rem;
        color: $dark-100;
        font-weight: 600;
        &-note {
            color: $red-100;
        }
    }
    &__input {
        width: 100%;
        padding: .5em 0;
        border-bottom: 1px solid rgba($dark-200, .25);
    }
    &__btn {
        width: 100%;
    }
}

// MEDIA
@media screen and (max-width: 767px) {
    .form {
        &__label {
            font-size: 1.6rem;
            line-height: 1.2;
        }
    }
}