.menu {
  position: absolute;
  top: calc(100%);
  right: 0;
  display: none;
  background: $gray-bg;
  text-align: right;
  height: 100vh;
  z-index: 10;
  width: 470px;
  &_opened {
    display: block;
  }
  &__list {
    padding: 38px 105px;
    padding-left: 80px;
    padding-bottom: 69px;
    box-sizing: border-box;
    border-bottom: 1px solid $gray-400;
  }
  &__item {
    font-size: 1.8rem;
    color: $dark-200;
    font-weight: 500;
    margin-bottom: 18px;
    &_bold {
      font-weight: 700;
    }
  }
  &__contacts {
    padding: 50px 105px;
    padding-left: 80px;
    padding-bottom: 0;
    box-sizing: border-box;
    &-questions {
      font-size: 1.8rem;
      line-height: 1.22;
      font-weight: 500;
      margin: 0;
      &_red {
        color: $red-100;
        margin-top: 5px;
      }
    }
    &-main {
      display: inline-block;
      margin-top: 25px;
      font-size: 1.8rem;
      line-height: 1.28;
      color: $dark-200;
      font-weight: 500;
    }
    &-secondary {
      margin: 0;
      font-size: 1.4rem;
      color: $gray-600;
      line-height: 1.28;
    }
  }
}

@media screen and (max-width: 767px) {
  .menu {
    width: 100%;
    &__list {
      padding: 38px 15px;
    }
  }
}