.optimization-main {
  background: linear-gradient(to right, $gray-bg, $gray-200);
  padding: 75px 0;
  padding-bottom: 70px;
  &__title {
    color: $dark-200;
    margin-bottom: 45px;
  }
  &__list {
    margin-bottom: 62px;
  }
  &__item {
    position: relative;
    color: $dark-200;
    font-size: 2rem;
    line-height: 1.63;
    font-weight: 600;
    padding-left: 42px;
    margin: 0;

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 26px;
      height: 20px;
      background: icon('big-swush.svg') no-repeat 50%;
    }

    &-text {
      margin: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .optimization-main {
    &__item {
      margin-bottom: 22px;

      &_last {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .optimization-main {
    padding: 35px 0;
    padding-bottom: 40px;

    &__title {
      margin-bottom: 17px;
    }

    &__list {
      margin-bottom: 28px;
    }

    &__item {
      font-size: 1.4rem;
      line-height: 1.36;
      font-weight: 500;
      padding-left: 29px;
      max-width: 200px;
      box-sizing: content-box;

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 18px;
        height: 18px;
        background: icon('swush.svg') no-repeat 50%;
      }

      &-text {
        margin-bottom: 22px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}