.our-works {
  padding: 49px 0;
  padding-bottom: 25px;
  &__title {
    color: $dark-200;
    margin-bottom: 18px;
  }
  &__header {
    position: relative;
    margin-bottom: 40px;
  }
  &__arrow-link {
    position: absolute;
    right: 15px;
    bottom: 0;
    z-index: 1;
  }
  &__note {
    margin: 0;
    font-size: 1.8rem;
    & span {
      font-size: 2rem;
      line-height: 1.5;
      font-weight: 700;
    }
  }
  &__arrow-wrapper {
    @include flex(row, flex-start, flex-end);
  }
  &__work {
    display: block;
    border-radius: 6px;
    min-height: 370px;
    overflow: hidden;
    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 6px;
      overflow: hidden;
      z-index: 1;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 5s ease;
      }
    }
    &-content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 6px;
      padding: 40px;
      z-index: 3;
    }
    &-title {
      text-transform: uppercase;
      color: $white;
      position: relative;
      z-index: 1;
    }
    &-note {
      color: $white;
      font-size: 1.6rem;
      margin: 0;
      margin-top: 15px;
      position: relative;
      z-index: 1;
    }
    &-link {
      color: $white;
      font-size: 1.4rem;
      line-height: 1.43;
      margin: 0;
      margin-top: 9px;
      z-index: 1;

      &_hidden {
        opacity: 0;
        transform: translateY(5px);
        transition: .3s all;
        pointer-events: none;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 185px;
      background: linear-gradient(to top, rgba($black, 0), rgba($black, .5));
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      z-index: 2;
    }
    &:hover {
      & .our-works {
        &__work {
          &-img {
            & img {
              transform: scale(1.1);
            }
          }
          &-link {
            pointer-events: auto;
            opacity: 1;
            transform: none;
            transition: transform .3s ease;
          }
        }
      }
    }
  }
  &__item {
    position: relative;
    margin-bottom: 40px;
    border-radius: 6px;
  }
  &__all-link {
    color: $dark-blue;
    font-size: 1.4rem;
    line-height: 1.43;
    // margin-top: 15px;
    padding-right: 36px;
  }
}

@media screen and (max-width: 991px) {
  .our-works {
    padding-bottom: 65px;
    &__item {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .our-works {
    padding: 26px 0;
    padding-bottom: 30px;
    &__title {
      margin-top: 13px;
    }
    &__header {
      margin-bottom: 20px;
    }
    &__note {
      font-size: 1.3rem;
      line-height: 1.54;
      & span {
        font-size: 1.6rem;
        line-height: 1.25;
      }
    }
    // &__item {
    //   margin-bottom: 40px;

    //   &:nth-child(4) {
    //     margin-bottom: 0;
    //   }
    // }
    &__work {
      min-height: 220px;
      padding: 21px 24px;
      &::after {
        height: 111px;
      }
      &-content {
        padding: 21px 24px;
      }
      &-note {
        font-size: 1.3rem;
        line-height: 1.54;
      }
    }
  }
}