.our-works {
  padding: 49px 0;
  padding-bottom: 65px;
  &__title {
    color: $dark-200;
  }
  &__note {
    margin-top: 18px;
    margin-bottom: 40px;
    font-size: 1.8rem;
    & span {
      font-size: 2rem;
      line-height: 1.5;
      font-weight: 700;
    }
  }
  &__work {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 6px;
    min-height: 370px;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 52px;
      left: 0;
      width: 28px;
      height: 4px;
      background: $red-100;
      z-index: 2;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 185px;
      background: linear-gradient(to bottom, rgba($black, .6) 0%, rgba($black, 0) 60%);
      border-radius: 6px;
    }
    &-title {
      text-transform: uppercase;
      color: $white;
      position: relative;
      z-index: 1;
    }
    &-note {
      color: $white;
      font-size: 1.6rem;
      margin: 0;
      margin-top: 15px;
      position: relative;
      z-index: 1;
    }
    &-link {
      color: $white;
      display: inline-block;
      position: relative;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.43;
      margin: 0;
      margin-top: 9px;
      z-index: 1;
      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 6px);
        left: calc(100% + 16px);
        width: 24px;
        height: 12px;
        background: icon('link-arrow.svg') no-repeat 50%;
      }
    }
  }
  &__item {
    &:nth-child(2n) {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__all-link {
    color: $dark-blue;
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.43;
    margin-top: 15px;
    padding-right: 36px;
    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      right: 0;
      width: 24px;
      height: 10px;
      background: icon('link-arrow.svg') no-repeat 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .our-works {
    padding: 26px 0;
    padding-bottom: 30px;
    &__note {
      font-size: 1.3rem;
      line-height: 1.54;
      margin-top: 13px;
      margin-bottom: 20px;
      & span {
        font-size: 1.6rem;
        line-height: 1.25;
      }
    }
    &__work {
      min-height: 220px;
      padding: 21px 24px;
      &::before {
        top: 29px;
        width: 17px;
        height: 2px;
      }
      &::after {
        height: 111px;
      }
      &-note {
        font-size: 1.3rem;
        line-height: 1.54;
      }
    }
  }
}