.sup-stages {
  padding: 49px 0;
  padding-bottom: 58px;
  &__title {
    margin-bottom: 20px;
  }
  &__item {
    margin-bottom: 21px;
    &:nth-child(3),
    &:last-child {
      margin-bottom: 0;
    }
    &-icon {
      margin-bottom: 6px;
    }
    &-title {
      color: $dark-200;
      margin-bottom: 18px;
    }
    &-note {
      margin: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .sup-stages {
    &__item {
      &:nth-child(3) {
        margin-bottom: 21px;
      }
      &-note {
        max-width: 80%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sup-stages {
    padding: 35px 0;
    &__item {
      &-title {
        margin-bottom: 10px;
      }
      &-note {
        font-size: 1.3rem;
        line-height: 1.54;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .sup-stages {
    &__title {
      margin-bottom: 10px;
    }
    &__item {
      margin-bottom: 15px;
      &-note {
        max-width: none;
      }
    }
  }
}