.title {
  margin: 0;
  font-weight: 700;
  &_size-l {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.25;
  }
  &_size-m {
    font-size: 2.8rem;
    line-height: 1.61;
    color: $dark-200;
  }
  &_size-s {
    font-size: 2.2rem;
    line-height: 1.14;
  }
  &_red {
    color: $red-100;
  }
}

@media screen and (max-width: 767px) {
  .title {
    &_size-l {
      font-size: 2.2rem;
      line-height: 1.45;
    }
    &_size-m {
      font-size: 2rem;
      line-height: 1.2;
    }
    &_size-s {
      font-size: 1.5rem;
      line-height: .93;
    }
  }
}