.home {
  &-main {
    background: linear-gradient(-30deg, rgba($dark-100, .55) 0%, rgba($dark-blue, .55) 100%), image('home-main-bg.jpg') no-repeat 50%/cover;
    padding: 75px 0;
    padding-bottom: 70px;
    &__title {
      color: $white;
      margin-bottom: 35px;
      max-width: 940px;
    }
    &__note {
      margin-bottom: 51px;
      & p {
        font-size: 1.8rem;
        color: $white;
        margin: 0;
        font-weight: 500;
        margin-bottom: 15px;
        max-width: 730px;
        letter-spacing: .03em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__btn {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    &-main {
      // background: 
      // linear-gradient(-30deg, rgba($dark-100, .75) 0%, rgba($dark-blue, .75) 100%), 
      // image('m-home-main-bg.jpg') no-repeat 50%/cover;
      padding: 35px 0;
      padding-bottom: 40px;
      &__title {
        max-width: 400px;
        margin-bottom: 26px;
      }
      &__note {
        & p {
          font-size: 1.4rem;
          line-height: 1.57;
        }
        margin-bottom: 33px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  
}