.home {
  &-main {
    background: 
    linear-gradient(rgba($dark-100, .75) 0%, rgba($dark-100, .75) 100%), 
    image('home-main-bg.jpg') no-repeat 50%;
    background-size: cover;
    padding: 75px 0;
    padding-bottom: 70px;
    &__title {
      color: $white;
      margin-bottom: 35px;
    }
    &__note {
      font-size: 1.8rem;
      color: $white;
      margin-bottom: 51px;
      max-width: 720px;
    }
    &__list {
      margin-bottom: 28px;
    }
    &__item {
      position: relative;
      color: $white;
      font-size: 1.4rem;
      line-height: 1.36;
      font-weight: 500;
      margin-bottom: 22px;
      padding-left: 29px;
      max-width: 200px;
      box-sizing: content-box;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 18px;
        height: 18px;
        background: icon('swush.svg') no-repeat 50%;
      }
    }
    &__btn {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    &-main {
      background: 
      linear-gradient(rgba($dark-100, .75) 0%, rgba($dark-100, .75) 100%), 
      image('m-home-main-bg.jpg') no-repeat 50%/cover;
      padding: 35px 0;
      padding-bottom: 40px;
    }
  }
}

@media screen and (max-width: 576px) {
  .home {
    &-main {
      &__btn {

      }
    }
  }
}