// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Montserrat', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #FFF;
$black: #000;
$gray-100: #707070;
$gray-bg: #F8F9F9;
$gray-600: #666;
$dark-400: #444;
$dark-200: #233F48;
$dark-100: #1E363E;
$dark-blue: #214D5D;
$red-100: #FF033E;
$red-200: #E61343;
